.error-msg{
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:15%;
}

.err-number
{
    font-size: 25vh;
    color:rgb(179, 6, 6);
}

.err-info{
    font-size:8vh;
    color:gray;
    margin:10%;
}