.nav-bar{
    margin:0;
    background-color: white;
    border-bottom: gray;
    height:8vh;
    padding:1%;
}

.nav-bar ul{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav-bar ul li{
    display:inline-flex;
    padding:2%;
    padding-top:0;
    cursor: pointer;
    align-items: center;

}

.insta-logo{
    position: absolute;
    margin-left:2%;
    margin-top:0.5%;
    padding-left:2%;
    height: 6vh;
}