<div mat-card>
    <div class="form-container">
            <div class="logo">
                <img src=".\assets\Images\Instagram.jpg" alt="Instagram-Logo">
            </div>
            <form class="form">
                <input formControlName='email'  type='text' placeholder="Phone number, username or email" required #loginEmail>
                <input formControlName='password' type='password' placeholder="Password" required #loginPassword>
                <button class="btn-login" mat-flat-button color="primary" (click)="signIn(loginEmail.value,loginPassword.value)">LogIn</button>
            </form>

            <mat-card-subtitle class="card-sub">Log in with Facebook</mat-card-subtitle>

            <mat-card-subtitle class="forgot-txt">Forgot password?</mat-card-subtitle>

            <mat-card-subtitle class="account-txt">Don't have an account? <span routerLink="/signup">Sign up</span></mat-card-subtitle>

    </div>
</div>